  .header {
    background-color: #282c34;
    color: white;
    position: relative;
    padding: 20px;
    font-size: 400;
  }
  label{
      font-size: large;
      font-weight: 400;
  }
  img{
    height: 100%;
    width: 100%;
    padding: 10px;
    cursor: pointer;
  }
  